body {
    position: relative;
    margin-top: 30px;

}

.jumbotron img {

    border: 5px solid #666666;
}

/* paralax NOTE.1 */
.jumbotron {
    background-image: url(../img/header-paralax.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

}

/* paragrap paralax */
.pkiri,
.pkanan {
    opacity: 0;
    transform: translate(-50px, 0) scale(-1, 4);
    transition: 1s;
}

.pkanan {
    transform: translate(50px, 0) scale(-1, 4);
}

.pkiri.pmuncul,
.pkanan.pmuncul {
    opacity: 1;
    transform: translate(0, 0);
}

/* paragrap paralax */


hr {
    width: 250px;
    border-top: 3px solid #999999;
}

section {
    min-height: 500px;
}


.portofolio {
    background-color: #eee;

}

.portofolio .thumbnail {
    opacity: 0;
    transition: 0.3s;
    transform: translate(0, -40px);


}

.portofolio .thumbnail.muncul {
    opacity: 1;
    transform: translate(0, 0);

}





.kontak {
    min-height: 800px;

}

footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: #333333;
    padding: 30px;
}

footer p {
    color: #aaaa;
    font-size: 0.9em;
}

footer p i {
    color: chartreuse;

}